[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "combiter"]
	path = combiter
	url = https://github.com/kota7/combiter
[submodule "kgschart"]
	path = kgschart
	url = https://github.com/cran/kgschart
[submodule "outreg"]
	path = outreg
	url = https://github.com/kota7/outreg
[submodule "striprtf"]
	path = striprtf
	url = https://github.com/kota7/striprtf
[submodule "tictactoe"]
	path = tictactoe
	url = https://github.com/kota7/tictactoe
